* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

.hidden {
    display: none;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

.language {
    margin: 20px 500px;
    color: firebrick;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}
